[Desktop Entry]
Type=Action
Name=Copy Full Path
Icon=edit-copy
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/all;
Exec=bash -c "echo -n %f | xclip -selection clipboard"